@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary-color: #15161f;
    --background-color: #f4f5fa;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  /* 通用&布局 */
  html {
    @apply relative scroll-pt-[88px];
  }
  body {
    @apply bg-color transition-[background-color] text-primary font-normal antialiased break-words font-sans leading-relaxed relative;
  }
  /* 页面背景色 */
  .bg-color {
    @apply bg-white dark:bg-black transition-[background-color];
  }

  /* 文字 */
  h1 {
    @apply text-4xl sm:text-6xl font-semibold sm:leading-[1.2] leading-[1.2];
  }

  h2 {
    @apply text-3xl sm:text-2xl font-semibold sm:leading-[1.2] leading-[1.2];
  }
  p {
    @apply text-lg mt-[12px] leading-[1.4];
  }
  .text-primary {
    @apply text-neutral-900 dark:text-neutral-100;
  }
  .text-secondary {
    @apply text-neutral-600 dark:text-neutral-300;
  }
  .text-tertiary {
    @apply text-neutral-500 dark:text-neutral-500;
  }
  .text-subtitle {
    @apply text-neutral-700 dark:text-neutral-200;
  }
  strong {
    @apply font-semibold;
  }

  .dark .bg-gradient {
    background: radial-gradient(ellipse 70% 50% at 50% -22%, #777ac636, #0000);
  }

  /* 分割线 */
  hr {
    @apply my-6 sm:my-10 border-neutral-200 dark:border-neutral-800 transition-[border-color];
  }

  /* 超链接颜色（无下划线） */
  .link-color-none {
    @apply text-inherit sm:hover:text-blue-700 active:text-blue-900 sm:active:text-blue-900 dark:sm:hover:text-blue-400 dark:active:text-blue-500 dark:sm:active:text-blue-500;
  }
}
